<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>{{ page.project_name }} by Olivier Poitrey</title>
  <meta name="keywords" content="{{ page.keywords }}">
  <meta property="og:title" content="{{ page.project_name }} by Olivier Poitrey">
  <meta property="og:type" content="product">
  <meta property="og:url" content="http://hackemist.com/{{ page.project_key }}">
  <meta property="og:image" content="http://hackemist.com/{{ page.project_key }}/icon.png">
  <meta property="og:site_name" content="Hackemist">
  <meta property="fb:admins" content="657440785">
  <meta property="og:description"content="{{ page.project_tagline }}">
  <script type='text/javascript' src='https://www.google.com/jsapi'></script>
  <link rel="stylesheet" type="text/css" href="../static/default.css">
  <link rel="canonical" href="http://hackemist.com/{{ page.project_key }}">
  <link rel="shortcut icon" href="favicon.ico" />
</head>
<body>
  <style>#content {display: none}</style>
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24463986-1']);
    _gaq.push(['_trackPageview', location.pathname + location.hash]);

    google.load("jquery", "1.6.0");
    google.load("jqueryui", "1.8.12");
    google.setOnLoadCallback(function()
    {
      $('#content').show();
      $('#content').tabs
      ({
        select: function(e, ui)
        {
          location.hash = ui.tab.name ? ui.tab.name : ui.tab.href.substring(ui.tab.href.indexOf('#'));
          _gaq.push(['_trackPageview', location.pathname + location.hash]);
        },
        ajaxOptions:
        {
          dataType: "jsonp",
          error: function( xhr, status, index, anchor )
          {
            $(anchor.hash).html("Couldn't load content of this tab");
          }
        }
      });
      $.getJSON('http://rsparkle.herokuapp.com/{{ page.project_key }}/last.json?callback=?', function(version)
      {
        $('span.version').html('v' + version.name);
      });
      $.getScript('../static/jquery-hashchange.min.js', function()
      {
        $(window).hashchange(function()
        {
          var tabName = location.hash.substring(1);
          if ($('#content #' + tabName).length > 0)
          {
            $('#content').tabs('select', tabName);
          }
          else
          {
            $('#content > #tabs > ul > li > a').each(function()
            {
              if (this.name == tabName)
              {
                $('#content').tabs('select', this.href.substring(this.href.indexOf('#')));
                return true;
              }
            });
          }
        });
        $(window).hashchange();
      });
      $('a.download').click(function()
      {
        var link = this.href;
        _gaq.push(['_trackEvent', 'Download', 'Installer', '{{ page.project_name }}']);
        setTimeout(function() {location.href = link}, 200);
        return false;
      });

      $(function()
      {
        // Social Buttons
        window.fbAsyncInit = function()
        {
          FB.init({xfbml: true});
          FB.Event.subscribe('edge.create', function(targetUrl) {_gaq.push([trackerName + '_trackSocial', 'facebook', 'like', targetUrl])});
          FB.Event.subscribe('edge.remove', function(targetUrl) {_gaq.push([trackerName + '_trackSocial', 'facebook', 'unlike', targetUrl])});
          FB.Event.subscribe('message.send', function(targetUrl) {_gaq.push([trackerName + '_trackSocial', 'facebook', 'send', targetUrl])});
        }
        $.getScript(document.location.protocol + "//connect.facebook.net/en_US/all.js");
        $.getScript("http://platform.twitter.com/widgets.js", function()
        {
          twttr.events.bind('tweet', function(event)
          {
            if (!event) return;
            _gaq.push([trackerName + '_trackSocial', 'twitter', 'tweet']);
          });
        });
        $.getScript("https://apis.google.com/js/plusone.js");
      });
    });
  </script>

  <div id="wrapper">
    <a href="http://github.com/rs/{{ page.project_key }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub" /></a>

    <div id="header">
      <div class="container">
        <h1>{{ page.project_name }}</h1>
        <h2>{{ page.project_tagline }}</h2>
        <img class="showtime" src="showtime.png">
    
        <div class="buttons">
          <a href="http://rsparkle.herokuapp.com/{{ page.project_key }}/last" class="download button">
            <img width="60" src="../static/pkg.png"> Download
            <span class="tagline version"></span>
          </a>
        </div>
      </div>
    </div>

    <div id="content">
      {{ content }}
    </div>

    <!-- /wrapper -->
    <div id="push"></div>
  </div>

  <div id="footer">
    <div class="container">
      <div class="social-buttons">
        <g:plusone size="medium" href="http://hackemist.com/{{ page.project_key }}"></g:plusone>
        <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://hackemist.com/{{ page.project_key }}" data-text="{{ page.project_tagline }}" data-count="horizontal" data-via="Olivier_Poitrey" data-related="Olivier_Poitrey:{{ page.project_name }} Author">Tweet</a>
        <fb:like href="http://hackemist.com/{{ page.project_key }}" width="450" height="80" font="arial" show_faces="false" send="true"></fb:like>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <div id="fb-root"></div>
</body>
</html>
